<h1> This is a secret page </h1>

<img src="https://media-exp1.licdn.com/dms/image/C5103AQEQVOMCluTwcA/profile-displayphoto-shrink_200_200/0?e=1585180800&v=beta&t=35C634BWBRLscD43SMw1F1CoohoKaOXOaZOtGf5QkTE">

<li>
	<a href="/register">SignUp</a>
</li>

<li>
	<a href="/login">Login</a>
</li>

<li>
	<a href="/logout">LogOut</a>
</li>